apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  kubelet:
    podsPerCore: 20
    #maxPods: 20 # this is a hard limit
    systemReserved:
      cpu: 100m
      memory: 100Mi
      ephemeral-storage: 1Gi
    kubeReserved:
      cpu: 200m
      memory: 100Mi
      ephemeral-storage: 3Gi
    evictionHard:
      memory.available: 5%
      nodefs.available: 10%
      nodefs.inodesFree: 10%
    evictionSoft:
      memory.available: 500Mi
      nodefs.available: 15%
      nodefs.inodesFree: 15%
    evictionSoftGracePeriod:
      memory.available: 1m
      nodefs.available: 1m30s
      nodefs.inodesFree: 2m
    evictionMaxPodGracePeriod: 120
    imageGCHighThresholdPercent: 85
    imageGCLowThresholdPercent: 80
    cpuCFSQuota: true
  # Optional, dictates UserData generation and default block device mappings.
  # May be ommited when using an `alias` amiSelectorTerm, otherwise required.
  amiFamily: AL2023
  amiSelectorTerms:
    - id: ${eks_ami}

  # Required, discovers subnets to attach to instances
  # Each term in the array of subnetSelectorTerms is ORed together
  # Within a single term, all conditions are ANDed
  subnetSelectorTerms:
    # Select on any subnet that has the "karpenter.sh/discovery: ${CLUSTER_NAME}"
    # AND the "environment: test" tag OR any subnet with ID "subnet-09fa4a0a8f233a921"
    - tags:
        karpenter.sh/discovery: "${CLUSTER_NAME}"
        Tier: private

  # Required, discovers security groups to attach to instances
  # Each term in the array of securityGroupSelectorTerms is ORed together
  # Within a single term, all conditions are ANDed
  securityGroupSelectorTerms:
    # Select on any security group that has both the "karpenter.sh/discovery: ${CLUSTER_NAME}" tag
    # AND the "environment: test" tag OR any security group with the "my-security-group" name
    # OR any security group with ID "sg-063d7acfb4b06c82c"
    - tags:
        karpenter.sh/discovery: "${CLUSTER_NAME}"

  # Optional, IAM role to use for the node identity.
  # Must specify one of "role" or "instanceProfile" for Karpenter to launch nodes
  role: "${node_iam_role_name}"



  # Each term in the array of amiSelectorTerms is ORed together
  # Within a single term, all conditions are ANDed
#  amiSelectorTerms:
#    # Select on any AMI that has both the `karpenter.sh/discovery: ${CLUSTER_NAME}`
#    # AND `environment: test` tags OR any AMI with the name `my-ami` OR an AMI with
#    # ID `ami-123` OR an AMI with ID matching the value of my-custom-parameter
#    - tags:
#        karpenter.sh/discovery: "${CLUSTER_NAME}"
#        environment: test
#    - name: my-ami
#    - id: ami-123
#    - ssmParameter: my-custom-parameter # ssm parameter name or ARN
#    # Select EKS optimized AL2023 AMIs with version `v20240703`. This term is mutually
#    # exclusive and can't be specified with other terms.
#    # - alias: al2023@v20240703
###
  # Optional, each term in the array of capacityReservationSelectorTerms is ORed together.
#  capacityReservationSelectorTerms:
#    - tags:
#        karpenter.sh/discovery: ${CLUSTER_NAME}
#    - id: cr-123
#    - instanceMatchCriteria: open


  # Optional, propagates tags to underlying EC2 resources
  tags:
    eks-cluster: ${CLUSTER_NAME}

  # Optional, configures IMDS for the instance
  metadataOptions:
    httpEndpoint: enabled
    httpProtocolIPv6: disabled
    httpPutResponseHopLimit: 1 # This is changed to disable IMDS access from containers not on the host network
    httpTokens: required

  # Optional, configures detailed monitoring for the instance
  detailedMonitoring: false

  # Optional, configures if the instance should be launched with an associated public IP address.
  # If not specified, the default value depends on the subnet's public IP auto-assign setting.
  associatePublicIPAddress: false
